* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    background-color: #f2f2f2;
    font-size: 16px;
    color: #222;
    font-weight: normal;
    letter-spacing: 0.03em;
}

@font-face {
    font-family: 'my_font';
    src: url("../fonts/font.ttf") format('truetype');
}

a {
    color: #7447ae;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

section {
    width: 100%;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    /* color: #FFF; */
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

header.hero {
    background: url(../img/header.png) no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    padding-bottom: 100px;
}

ul,
a,
li,
ol {
    text-decoration: none;
}

header.hero .hero-text {
    margin-top: 25%;
    margin-bottom: 20%;
}

header.hero h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5em;
    font-weight: 600;
    line-height: 1.4em;
}

header.hero h1 span,
header.hero h3 {
    font-weight: 300;
}

.btn-o {
    margin-top: 30px;
    margin-left: 5px;
}

.btn-p {
    background-image: none;
    border-color: transparent;
    background-color: rgb(255, 161, 38);
    padding: 8px 16px;
    margin-top: 55px;
    color: #fff;
    border-radius: 12em;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    text-align: center;
    vertical-align: middle;
}

/* Search_Box */



/* navigation */

nav {
    height: 40px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 3em;
    cursor: pointer;
    transition: .25s ease-in-out;
}

ul.main-nav li {
    float: right;
}

ul.main-nav li a {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 15px;
}

ul.main-nav li a:hover {
    color: #ffbe61;
}

ul.main-nav.show-it {
    opacity: 1;
    visibility: visible;
    transition-delay: .25s;
}

/* Main-show */
.case-study .col-md-12 {
    transform: translateY(-80px);
    -webkit-transform: translateY(-80px);
    padding: 5em 3em;
    background-color: #fff;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.15);
}

h4.sub-heading {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #4e4c58;
}

h1.heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #4e4c58;
    font-size: 3em;
    position: relative;
    padding-bottom: 10px;
}

h1.heading span {
    font-weight: 600;
}

h1.heading:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 3px;
    width: 100px;
}

h1.heading.purple:after {
    background-color: #7447ae;
}

h1.heading.pink:after {
    background-color: #ff2a75;
}

.swiper-container {
    width: 100%;
    height: 650px;
    padding: 4em 1em;
}

.swiper-slide {
    font-size: 18px;
    background: #fff;
}

.client-box {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
    padding: 3.5em 2em;
    border-radius: 5px;
    border: 1px solid #eee;
    text-align: center;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.client-box .client-logo {
    max-height: 120px;
}

.client-box h3.title {
    color: #4e4c58;
    margin-bottom: 2em;
}

.client-box p.tag {
    color: #7447ae;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1em;
}

.client-box a {
    color: #333;
    font-style: italic;
    opacity: 0.5;
}

.client-box.swiper-slide-next {
    -ms-transform: scale(1.15);
    /* IE 9 */
    -webkit-transform: scale(1.15);
    /* Safari */
    transform: scale(1.15);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.swiper-button-next,
.swiper-button-prev {
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
    border-radius: 5em;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url(../img/arrow-right.png);
    right: -40px;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url(../img/arrow-left.png);
    left: -40px;
}

.headerTxt {
    display: inline-block;
    margin: 0 0.5rem;

    animation: animate__fadeInRight;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

.purple {
    color: #7447ae;
}

.pink {
    color: #ff2a75;
}

.blue {
    color: #37a7ff;
}