* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    background-color: #f2f2f2;
    font-size: 16px;
    color: #222;
    font-weight: normal;
    letter-spacing: 0.03em;
}

@font-face {
    font-family: 'my_font';
    src: url("../fonts/font.ttf") format('truetype');
}

@font-face {
    font-family: 'fzhs';
    src: url("../fonts/fzhs.TTF") format('truetype');
}

span {
    font-family: my_font, serif;
}

a {
    color: #7447ae;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.content {
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    background-color: #990002;
}

section {
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
}

.content section:nth-child(2) {
    background-image: url("../img/minfadian.png");
    background-attachment: fixed;
    background-color: rgba(96,93,93,0.5);
    background-size: cover;
}
.content section:nth-child(3) {
    background-image: url("../img/zhurong.jpg");
    background-attachment: fixed;
    background-color: #864e00;
    background-size: cover;
}
.content section:nth-child(4) {
    background-image: url("../img/shuidianzhan.jpeg");
    background-attachment: fixed;
    background-color: #5c697a;
    background-size: cover;
}
.content section:nth-child(5) {
    background-image: url("../img/kongjianzhan.jpeg");
    background-attachment: fixed;
    background-color: rgba(0,0,0,0.4);
    background-size: cover;
}
.content section:nth-child(6) {
    background-image: url("../img/aoyunhui.jpeg");
    background-attachment: fixed;
    background-color: #ff9999;
    background-size: cover;
}

.theme-h1 {
    font-size: 5em;
    font-family: "fzhs", serif;
    font-weight: bolder;
    padding-left: 10%;
    padding-top: 80px;
    color: #FFFFFF;
}
.theme-h2 {
    font-size: 3em;
    font-family: fzhs, serif;
    padding-left: 10%;
}
.theme1-h3 {
    font-size: 2em;
    font-family: fzhs, serif;
    padding-left: 60%;
    padding-top: 2%;
}
.theme2-h3 {
    font-family: fzhs, serif;
    font-size: 2em;
    color: #FFFFFF;
    padding-left: 60%;
    padding-top: 4%;
}
.theme3-h3 {
    font-family: fzhs, serif;
    font-size: 2em;
    color: #FFFFFF;
    padding-left: 60%;
    padding-top: 4%;
}
.theme4-h1 {
    font-size: 5em;
    font-family: "fzhs", serif;
    font-weight: bolder;
    padding-left: 58%;
    padding-top: 20%;
    color: #FFFFFF;
}
.theme4-h2 {
    font-size: 2.8em;
    font-family: "fzhs", serif;
    padding-left: 58%;
    color: #FFFFFF;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    /* color: #FFF; */
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

section.hero {
    background: url(../img/header.png) no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    padding-bottom: 100px;
}

ul,
a,
li {
    text-decoration: none;
}

section.hero .hero-text {
    margin-top: 25%;
    margin-bottom: 20%;
}

section.hero h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5em;
    font-weight: 600;
    line-height: 1.4em;
}

section.hero h1 span,
section.hero h3 {
    font-weight: 300;
}

.btn-o {
    margin-top: 30px;
    margin-left: 5px;
}

.btn-p {
    background-image: none;
    border-color: transparent;
    background-color: rgb(255, 161, 38);
    padding: 8px 16px;
    margin-top: 55px;
    color: #fff;
    border-radius: 12em;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    text-align: center;
    vertical-align: middle;
}

/* Search_Box */



/* navigation */

nav {
    height: 40px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 3em;
    cursor: pointer;
    transition: .25s ease-in-out;
}

ul.main-nav li {
    float: right;
}

ul.main-nav li a {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 15px;
}

ul.main-nav li a:hover {
    color: #ffbe61;
}